@font-family-sans-serif:  "Helvetica Neue", Helvetica, "微软雅黑", Arial, sans-serif;

html, body {
  height: 100%;
}


.sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  .list {
    padding: 60px;
    font-size: 18px;
    li {
      color: #999;
    }

    & > ul {
      margin-top: 20px;

      ul {
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }

  a {
    color: #999;
    text-decoration: none;
    &:hover {
      border-bottom: solid 2px @brand-primary;
    }
  }
}

.content {
  margin: 0 0 0 340px;
  padding: 50px 0;
  max-width: 800px;
}

.page-header {
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  position: relative;
  height: 42px;

  .buttons {
    position: absolute;
    right: 10px;
    top: 0px;
  }
}

.page-filter {
  width: 100%;
  transition: all .3s ease;
  padding: 10px 10px 0;
  background-color: #f1f1f1;

  &.v-enter, &.v-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
    margin: 0;
  }
}


// copy from bootstrap

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child { margin-bottom: 0 }
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 { color: #d9534f }
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 { color: #f0ad4e }
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 { color: #5bc0de }

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 4px 4px 0 0;
}
.bs-example:after, .react-code:after, .code-converted:after {
  content: "Example";
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.bs-example:after {
  content: "example";
}
.react-code:after {
  content: "react code";
}
.code-converted:after {
  content: "converted html";
}
.react-code, .code-converted {
  position: relative;
  margin: 0 0 40px;
  padding: 45px 15px 15px;
  border-radius: 0;
  border: 1px solid #ddd;
  border-top-width: 0;
}
