<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="mocha"></div>
<script src="http://cdn.bootcss.com/mocha/2.3.4/mocha.js"></script>
<script src="http://cdn.bootcss.com/chai/3.4.1/chai.js"></script>
<script src="http://cdn.bootcss.com/react/0.14.4/react-with-addons.js"></script>
<script src="http://cdn.bootcss.com/react/0.14.4/react-dom.js"></script>

<script>
    mocha.setup({
        ui: 'bdd'
    })

    var expect = chai.expect;
</script>
<script src="http://localhost:3000/js/testBundle.js"></script>
<script>
    mocha.run();
</script>
</body>
</html>

