
// color ==================================================
@primary:   #0078E7;
@red:       #CA3C3C;
@orange:    #DF7514;
@green:     #1CB841;
@teal:      #42B8DD;

// alias
@danger:   @red;
@error:    @red;
@success:  @green;
@warning:  @orange;
@info:     @teal;


// base ===================================================
@base-line-height:         20px;
@border-radius-base:       2px;


// buttons ================================================
@btn-radius:               @border-radius-base;
@btn-padding:              5px 16px;

@btn-color:                rgba(0, 0, 0, 0.8);
@btn-bg:                   #e6e6e6;
@btn-border:               #e6e6e6;

@btn-primary-color:        #fff;
@btn-primary-bg:           @primary;
@btn-primary-border:       darken(@btn-primary-bg, 5%);

@btn-success-color:        #fff;
@btn-success-bg:           @success;
@btn-success-border:       darken(@btn-success-bg, 5%);

@btn-info-color:           #fff;
@btn-info-bg:              @info;
@btn-info-border:          darken(@btn-info-bg, 5%);

@btn-warning-color:        #fff;
@btn-warning-bg:           @warning;
@btn-warning-border:       darken(@btn-warning-bg, 5%);

@btn-danger-color:         #fff;
@btn-danger-bg:            @danger;
@btn-danger-border:        darken(@btn-danger-bg, 5%);

