@import "mixins";
@import "themes/bootstrap";

// Base styles

:local(.button) {
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
  @include transition(all .2s ease-in-out);

  &,
  &:active {
    &:focus {
      @include tab-focus();
    }
  }

  @include hover-focus {
    text-decoration: none;
  }
  &.focus {
    text-decoration: none;
  }

  &:active {
    background-image: none;
    outline: 0;
    @include box-shadow($btn-active-box-shadow);
  }

  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    @include box-shadow(none);
  }
}

:local(.primary) {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

// default
:local(.secondary) {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

:local(.success) {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

:local(.error), :local(.danger) {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

:local(.warning) {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

:local(.info) {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

// Make a button look and behave like a link
:local(.link) {
  font-weight: normal;
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:disabled {
    @include hover-focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

//
// Button Sizes
//

:local(.large) {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
}

:local(.small) {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
}


