@import "mixins";
@import "themes/bootstrap";

:local(.aligned) {
  :local(.label) {
    display: inline-block;
    position: absolute;
    text-align: right;
    left: 0;
    top: 0;
    line-height: $form-group-label-line-height;
  }
 
  :local(.control) {
    margin-left: $form-aligned-control-margin;

    :local(.dangerText), :local(.hintText) {
      display: block;
    }
  }
}

:local(.inline) {
  :local(.group) {
    display: inline-block;
    margin-right: $form-inline-group-margin;
    vertical-align: middle;
  }

  :local(.label) ~ :local(.control) {
    margin-left: $form-inline-control-margin;
  }

  :local(.control) {
    display: inline-block;
    
    :local(.hintText) {
      display: none;
    }

    :local(.dangerText) {
      display: block;
    }
  }
}

:local(.stacked) {
  :local(.control) {
    :local(.dangerText), :local(.hintText) {
      display: block;
    }
  }
}

:local(.group) {
  position: relative;
  margin-bottom: $form-group-margin-bottom;

  :local(.required)::before {
    content: '*';
    display: inline-block;
    font-family: SimSun;
    margin-right: $form-group-no-input-padding;
    color: $brand-danger;
  }

  :local(.control) {
    & > span {
      display: inline-block;
      padding-top: $form-group-no-input-padding;
    }

    :local(.dangerInput) {
      color: $brand-danger;
      border-color: $brand-danger;
    }

    :local(.button) {
      margin-right: $form-inline-control-margin;
    }
  }
}

:local(.dangerText) {
  color: $brand-danger;
}

