@import 'mixins';
@import 'themes/bootstrap';

.img {
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

// Rounded corners
.img-rounded {
  @include border-radius($border-radius-lg);
}

// Image thumbnails
.img-thumbnail {
  padding: $thumbnail-padding;
  background-color: $thumbnail-bg;
  border: $thumbnail-border-width solid $thumbnail-border-color;
  @include border-radius($thumbnail-border-radius);
  transition: all .2s ease-in-out;
  @include box-shadow($thumbnail-box-shadow);

  // Keep them at most 100% wide
  @include img-fluid(inline-block);
}

// Perfect circle
.img-circle {
  border-radius: 50%;
}

