@import 'mixins';
@import 'themes/default';

.mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, $mask-backdrop-opacity);
  z-index: $mask-zindex;

  & > div {
    margin: auto;
  }
}
