@import "mixins";
@import "themes/bootstrap";

:local(.checkbox), :local(.radio) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-right: 1rem;
  line-height: $input-line-height;

  input[type=checkbox], input[type=radio] {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  & > span {
    display: inline-block;
    vertical-align: middle;
  }

  :local(.indicator) {
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    border: 1px solid $custom-control-indicator-border;
    position: relative;
    user-select: none;
    margin-right: 0.25rem;
    background: {
      color: $custom-control-indicator-bg;
      repeat: no-repeat;
      position: center center;
      size: $custom-control-indicator-bg-size;
    }
    @include box-shadow($custom-control-indicator-box-shadow);
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
  }

  &:hover :local(.indicator) {
    background-color: $custom-control-hover-indicator-bg;
    border-color: $custom-control-hover-indicator-border;
  }

  input:checked ~ :local(.indicator) {
    border-color: $custom-control-checked-indicator-border;
    background: {
      size: 100%;
      repeat: no-repeat;
      color: $custom-control-checked-indicator-bg;
    }
  }

  input:disabled ~ :local(.indicator) {
    cursor: $cursor-disabled;
    border-color: $custom-control-indicator-border;
    background-color: $custom-control-disabled-indicator-bg;
  }
}

:local(.checkbox) {
  :local(.indicator) {
    @include border-radius($custom-checkbox-radius);
  }

  input:checked ~ :local(.indicator) {
    background-image: $custom-checkbox-checked-icon;
  }
}

:local(.radio) {
  :local(.indicator) {
    @include border-radius($custom-radio-radius);
  }

  input:checked ~ :local(.indicator) {
    background-image: $custom-radio-checked-icon;
  }
}

:local(.disabled) {
  color: $custom-control-disabled-description-color;
}

:local(.block) {
  display: block;
}

:local(.inline) {
  display: inline-block;
}
