@import "mixins";
@import "themes/bootstrap";

.group {
  padding: $form-group-no-input-padding 0;
}

.checkbox, .radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-right: 1rem;

  &.noPadding {
    padding: 0;
    vertical-align: inherit;
  }

  input[type=checkbox], input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
  }

  & > span {
    display: inline-block;
    vertical-align: middle;
  }

  .indicator {
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    border: 1px solid $custom-control-indicator-border;
    position: relative;
    user-select: none;
    margin-right: 0.25rem;
    background: {
      color: $custom-control-indicator-bg;
      repeat: no-repeat;
      position: center center;
      size: $custom-control-indicator-bg-size;
    }
    @include box-shadow($custom-control-indicator-box-shadow);
    box-sizing: border-box;
    transition: 0.1s ease-in-out;

    &:last-child {
      margin-right: 0;
    }
  }

  &:hover .indicator {
    background-color: $custom-control-hover-indicator-bg;
    border-color: $custom-control-hover-indicator-border;
  }

  input:checked ~ .indicator,
  &.checked .indicator,
  .input:indeterminate ~ .indicator,
  &.indeterminate .indicator {
    border-color: $custom-control-checked-indicator-border;
    background: {
      size: 100%;
      repeat: no-repeat;
      color: $custom-control-checked-indicator-bg;
    }
  }

  input:disabled ~ .indicator,
  &.disabled .indicator {
    cursor: $cursor-disabled;
    border-color: $custom-control-indicator-border;
    background-color: $custom-control-disabled-indicator-bg;
  }
}

.checkbox {
  .indicator {
    @include border-radius($custom-checkbox-radius);
  }

  input:checked ~ .indicator,
  &.checked .indicator {
    background-image: $custom-checkbox-checked-icon;
  }

  .input:indeterminate ~ .indicator,
  &.indeterminate .indicator {
    background-image: $custom-checkbox-indeterminate-icon;
  }
}

.radio {
  .indicator {
    @include border-radius($custom-radio-radius);
  }

  input:checked ~ .indicator {
    background-image: $custom-radio-checked-icon;
  }
}

.disabled {
  color: $custom-control-disabled-description-color;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}
