@import "mixins";
@import "themes/bootstrap";

.table {
  margin-bottom: $spacer;
  max-width: 100%;
  overflow: hidden;

  table {
    width: 100%;
    background-color: $body-bg;
  }

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    position: relative;
    text-align: left;
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  tbody tr:first-child td {
    border-top: 0;
  }
}

// Bordered version
//
// Add borders all around the table and between all the columns.

.bordered {
  .body {
    border-bottom: $table-border-width solid $table-border-color;
  }

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
    }
  }

  tbody tr:last-child td {
    border-bottom: 0;
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}

.pagi_center {
  text-align: center;
}

.pagi_right {
  text-align: right;
}
