@import "mixins";
@import "themes/bootstrap";

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $body-bg;
  overflow: hidden;

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    position: relative;
    text-align: left;
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }
}

// Bordered version
//
// Add borders all around the table and between all the columns.

.bordered {
  border: $table-border-width solid $table-border-color;
  table {
    border-left-width: 0;
    border-right-width: 0;
  }

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}


