@import "mixins";
@import "themes/bootstrap";

:local(.tree) {
  &, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: none;
  }

  :local(.open) {
    display: block;
  }
}

:local(.label) {
  display: block;
  line-height: $tree-line-height;
  overflow: hidden;

  > * {
    vertical-align: top;
  }

  &:local(.active) {
    span {
      font-weight: bold;
    }
  }

  :local(.text) {
    display: inline-block;
  }
}

:local(.marks) {
  width: $tree-icon-width;
  height: $tree-line-height + 0.05rem;
  display: inline-block;
  position: relative;

  &:before {
    content: ' ';
    width: 100%;
    height: 10rem;
    display: block;
    position: absolute;
    background: {
      position: center 0;
    }
  }
}

:local(.mv):before {
  background-image: $tree-line-icon-mv;
}

:local(.ml):before {
  height: 100%;
  background-repeat: no-repeat;
  background-image: $tree-line-icon-ml;
}

:local(.mh):before {
  background-image: $tree-line-icon-mh;
}

:local(.handle) {
  display: inline-block;
  vertical-align: middle;
  width: $tree-icon-width;
  text-align: center;
}

:local(.icon) {
  width:$tree-icon-width;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
}

:local(.minus), :local(.plus) {
  border: solid $tree-indicator-border-width $tree-line-color;
  height: $tree-indicator-size;
  width: $tree-indicator-size;
  border-radius: $tree-indicator-border-width;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: $tree-indicator-border-width;
    width: 100%;
    background: $tree-line-color;
    position: absolute;
    top: ($tree-indicator-size - $tree-indicator-border-width * 3) / 2;
  }
}

:local(.plus):before {
  content: '';
  display: block;
  height: 100%;
  width: $tree-indicator-border-width;
  left: ($tree-indicator-size - $tree-indicator-border-width * 3) / 2;
  background: $tree-line-color;
  position: absolute;
}

:local(.active) :local(.span) {
  font-weight: bold;
}
