@import "mixins";
@import "themes/bootstrap";

.upload {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    line-height: normal;
    padding: $upload-file-padding-y $upload-file-padding-x;
    margin-top: $upload-margin;
    border-radius: $upload-file-border-radius;
    transition: 0.2s ease-out;

    background-color: $upload-file-bg;

    .remove {
      float: right;
      color: #666;

      &:hover, &:active {
        color: $brand-danger;
      }
    }

    & > span {
      width: 70%;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;
    }
  }

  .has-error {
    background-color: $brand-danger;
  }

  .is-deleted {
    opacity: 0;
    transform: scale(1,0);
  }

  .uploaded {
    background-color: $brand-success;
  }

  .has-error, .uploaded {
    color: #fff;
    .remove, .remove:hover, .remove:active {
      color: #fff;
    }
  }
}
