@import "mixins";
@import "themes/bootstrap";

.file {
  line-height: normal;
  padding: $upload-file-padding-y $upload-file-padding-x;
  margin-top: $upload-margin;
  border-radius: $upload-file-border-radius;
  transition: 0.2s ease-out;

  background-color: $upload-file-bg;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: linear-gradient(0deg, $brand-success, $brand-success);

  .remove {
    float: right;
    color: #666;

    &:hover, &:active {
      color: $brand-danger;
    }
  }
}

.has-error {
  background-color: $brand-danger;
}

.is-deleted {
  opacity: 0;
  transform: scale(1,0);
}

.uploaded {
  background-color: $brand-success;
}

.has-error, .uploaded {
  color: #fff;
  .remove, .remove:hover, .remove:active {
    color: #fff;
  }
}

