.rui-checkbox {
  vertical-align: middle;
  * {
    vertical-align: middle;
  }
}

.rui-checkbox-group {
  &.inline {
    .rui-checkbox {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
