@import "mixins";

:local(.filter) {
  & > .options {
    position: absolute;
    left: -1px;
    top: 100%;
    margin-top: 1px;
    padding: 10px;
    width: 500px;
    border: solid 1px #ccc;
    border-radius: 4px;
  }

  & > .result {
    min-width: 300px;
    min-height: 20px;
  }
}

:local(.filterItem) {

}
