@zindex-overlay:            1050;

// message
@msg-padding:         20px;
@msg-border-radius:   @border-radius-base;

@msg-text:            #fff;
@msg-primary-bg:      @brand-primary;
@msg-info-bg:         @brand-info;
@msg-success-bg:      @brand-success;
@msg-warning-bg:      @brand-warning;
@msg-danger-bg:       @brand-danger;
