.build-container {
  hr {
    height: 0;
    border: none;
    border-bottom: solid 1px #ccc;
    margin: 15px 0;
  }

  padding-top: 30px;
  .checkbox {
    padding: 8px 0;
    label {
      padding-left: 20px;
    }
  }

  button {
    display: block;
    margin: 20px auto;
  }
}
