@import "../../../node_modules/material-design-iconic-font/less/material-design-iconic-font.less";
@zmdi-css-prefix: icon;
@zmdi-icon-prefix: icon;
@zmdi-font-path: "../dist/fonts";

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

