@import "../../../src/less/mixins";

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left: 0;
  width: 200px;
  background-color: #181818;
  z-index: 999;

  a { 
    color: #999;
    font-size: 16px;
    padding: 10px 16px;

    &:hover, &:focus {
      background-color: #333;
    }

    &.active {
      color: #fff;
      background-color: #1f8dd6;
    }
  }

  .nav-handler {
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
    padding: 9px;
    line-height: 1;
    font-size: 20px;
    background-color: #181818;
    border-bottom: solid 1px #333;
  }

  .pure-menu-heading {
    font-size: 18px;
    color: #fff;
    border-bottom: solid 1px #333;
  }

  .pure-menu-list {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    hr {
      margin: 0;
      border: solid 0px #333;
      border-bottom-width: 1px;
    }

    .pure-menu-item {
      height: auto;
    }
  }
}

@media (max-width: 992px) {
  .nav {
    .nav-list {
      margin-left: -200px;
      .transition(0.35s ease-out);

      .nav-handler {
        display: block;
      }
    }

    .overlay {
      z-index: 998;
      background-color: rgba(255,255,255,0.5);
    }

    &.active {
      .nav-list {
        margin-left: 0;
      }
      .overlay {
        .opacity(1);
        left: 0;
      }
    }
  }
}
