@import "mixins";

.rct-control-group {
  position: relative;

  &.fb-control {
    border: solid 1px transparent;
  }

  &.fb-control:hover {
    border: dashed 1px #ccc;
    background-color: #f2f2f2;

    .fb-control-tool {
      display: block;
    }
  }

  .fb-btn-control {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    border: solid 1px #ccc;
    background: #f2f2f2;
    cursor: pointer;
  }

  .fb-control-tool {
    display: none;
    position: absolute;
    width: 260px;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 7px;

    a {
      margin-right: 10px;
      text-decoration: none;
    }

    .fb-control-tool-inner {
      position: relative;
      padding: 10px;
      background: #f2f2f2;
      border: 1px solid #cccccc;
      overflow: inherit;
      border-radius: 4px;

      .arrow-left(7px, #ccc, #f2f2f2);
    }
  }
}
