@import "mixins.less";

.rct-modal-container {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1100;

  &.active {
    display: block;
  }

  .rct-modal-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
  }

  .rct-modal {
    position: relative;
    margin: 100px auto;
    border: solid 1px #eee;
    background-color: #fff;
    border-radius: 4px;
    max-width: 92%;

    .rct-modal-close {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      padding: 15px;

      span {
        position: relative;
        display: block;
        transition:all .4s;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);

        &:after, &:before {
          content: ' ';
          position: absolute;
          background-color: #666;
          border-radius: 1px;
        }

        &:after {
          width: 20px;
          height: 2px;
          left: 0px;
          top: 9px;
        }

        &:before {
          width: 2px;
          height: 20px;
          top: 0;
          left: 9px;
        }
      }

      &:hover span {
        transform: rotate(225deg);
      }
    }

    .rct-modal-header {
      padding: 10px 20px;
      font-size: 16px;
      line-height: 30px;
      border-bottom: solid 1px #eee;
    }

    .rct-modal-content {
      padding: 15px;
      min-height: 60px;
    }

    .rct-modal-footer {
      padding: 10px 20px;
      text-align: right;
      border-top: solid 1px #eee;

      button {
        margin-left: 10px;
      }
    }

    &.fadein {
      @keyframes ~"modal" {
        0% {
          .opacity(0);
        }
        100% {
          .opacity(1);
        }
      }  

      @-webkit-keyframes ~"modal" {
        0% {
          .opacity(0);
        }
        100% {
          .opacity(1);
        }
      } 

      .animation(modal 0.218s ease-in);
    }
  }
}

