@mixin spin($duration) {
  // Spin
  @keyframes spin-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  animation: spin-circle $duration infinite linear;
}

@mixin spin-reverse($duration) {
  // Spin Reverse
  @keyframes spin-circle-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-359deg);
    }
  }

  animation: spin-circle-reverse $duration infinite linear;
}

